@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ======= Your styling goes below ======= */
.container {
  font-family: sans-serif;
  box-sizing: border-box;
}

ul { list-style-type: none; }
a { text-decoration: none; }

.wrapper {
  max-width: 1194px;
  width: 92.84%;
  margin: 0 auto;
}

.upper { text-transform: uppercase; }
.low { text-transform: lowercase; }

/* style for header starts here */


header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

header .wrapper { padding: 25px 0 25px; }

h1 {
  width: 26%;
  margin-left: 2px;
  display: inline-block;
}

h1 a {
  width: 100%;
  display: inline-block;
  text-indent: -9999px;
}

h1 a img {  
  width: 100%;
  float: left;
}


/* style for header ends here */
/* style for banner starts here */
.banner {
  border-top: 2px solid rgba(0,0,0,.6);
  border-bottom: 2px solid rgba(0,0,0,.6);
}

.banner .wrapper {
  max-width: 1286px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.amazon {
  width: 58%;
  margin-top: 43px;
  margin-left: 5%;
}

.banner h2 {
  color: #6069d0;
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
}

.banner .name {
  margin-top: 9px;
  display: block;
  color: #6069d0;
  font-size: 22px;
  text-transform: capitalize;
}

.banner .reviews {
  margin-top: 27px;
  display: block;
  color: #6069d0;
  font-size: 22px;
  text-transform: capitalize;
  letter-spacing: .5px;
}

.banner p {
  margin-top: 25px;
  color: rgba(0,0,0,.6);
  font-size: 18px;
  line-height: 25px;
}

.banner p span {
  color: #4dbf9c;
  cursor: pointer;
}

.banner a {
  padding: 22px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 34px;
  margin-right: 2%;
  display: inline-block;
  background-color: #4dbf9c;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.banner a:hover {
  border: 1px solid #4dbf9c;
  background-color: #fff;
  color: #4dbf9c;
  transition: .6s;
}

.employee { width: 31.9%; }

.slick-dotted.slick-slider { margin-bottom: 0; }

.stats-slider { background-color: #6069d0; }

.stats-slider li { padding: 2.18% 0; }

.stats-slider li > span {
  margin-top: 10px;
  display: block;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.bigger { font-size: 25px; }

.center { text-transform: capitalize; }

.center:before {
  content: "";
  width: 25%;
  height: 1px;
  margin: 0 auto;
  margin-right: 15px;
  vertical-align: middle;
  display: inline-block;
  background-color: #fff;
}

.center:after {
  content: "";
  width: 25%;
  height: 1px;
  margin: 0 auto;
  margin-left: 15px;
  vertical-align: middle;
  display: inline-block;
  background-color: #fff;
}

.stats-slider li figure {
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}

.stats-slider li figure img { width: 100%; }

.slick-prev, .slick-next {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  top: 48%;
  color: #fff;
  font-size: 0;
  outline: none;
  line-height: 0;
  cursor: pointer;
}

.slick-next { right: 8px; }

.slick-prev {
  left: 8px;
  z-index: 5;
}

.slick-prev:before {
  content: '\f104';
  font-family: "Font Awesome 5 Free";
  font-size: 50px;
  font-weight: 900;
}

.slick-next:before {
  content: '\f105';
  font-family: "Font Awesome 5 Free";
  font-size: 50px;
  font-weight: 900;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #fff;
}

.slick-dots li button {
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 0;
  display: block;
  background: transparent;
  color: #fff;
  font-size: 0;
  outline: none;
  cursor: pointer;
  line-height: 0;
}

.slick-dots { bottom: 9px; }

.slick-dots li button:before {
  color: #fff;
  font-size: 16px;
}
/* style for banner ends here */
/* styel for amazon insiders starts here */

.amazon-insider .wrapper { padding: 3.4% 0 3.5%; }

.amazon-insider h3 {
  color: #6069d0;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.insiders-list {
  margin-top: 37px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.insiders-list > li { 
  flex-basis: 24%;
  text-align: center; 
}

.insiders-list > li > span:first-of-type {
  margin-top: 15px;
  display: block;
  color: #44c79c;
  font-size: 23px;
  font-weight: 900;
  text-transform: uppercase;
}

.insiders-list > li .profile{
  margin-top: 10px;
  display: block;
  color: rgba(0, 0, 0, .6);
  font-size: 18px;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 25px;
}

.rating {
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.rating li { margin-right: 10px; }

.rating li span {
  display: inline-block;
  text-indent: -9999px;
}

.rating li:nth-child(1) span:after {
  content: "\f005";
  float: left;
  color: #5f68ce ;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-indent: 0;
}
.rating li:nth-child(2) span:after {
  content: "\f005";
  float: left;
  color: #5f68ce ;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-indent: 0;
}
.rating li:nth-child(3) span:after {
  content: "\f005";
  float: left;
  color: #5f68ce ;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-indent: 0;
}
.rating li:nth-child(4) span:after {
  content: "\f005";
  float: left;
  color: #fff ;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  text-indent: 0;
}

.insiders-list > li > span:last-of-type {
  margin-top: 15px;
  display: block;
  color: rgba(0,0,0,.5);
}
/* style for amazon insiders ends here */

/* style for how it works starts here */

.works {
  border-top: 2px solid rgba(0,0,0,.6);
  border-bottom: 2px solid rgba(0,0,0,.6);
}

.works .wrapper { padding: 3.4% 0 3.1%; }

.works h3 {
 color: #6069d0;
 font-size: 30px;
 font-weight: 700;
 text-transform: capitalize;
}

.services {
  margin-top: 37px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.services > li { 
  flex-basis: 24%;
  text-align: center; 
}

.services > li  figure {
  width: 83px;
  border-radius: 50px;
  margin: 0 auto;
  overflow: hidden;
}

.services > li span {
  margin-top: 24px;
  display: inline-block;
  color: rgba(0, 0, 0, .5);
  font-size: 20px;
  font-weight: 900;
  text-transform: capitalize;
}

.services > li p {
  margin-top: 18px;
  color: rgba(0, 0, 0, .5);
  line-height: 22px;
}
/* style for how it works ends here */
/* style for testimonial starts here */

.testimonial .wrapper { padding: 5% 0 7%;}

.testimonial { background-color: #6069d0; }

.testimonial h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.testimonial-list { margin-top: 35px; }

.testimonial-list li { 
  width: 80%;
  margin: 0 auto;
  text-align: center; 
}

.testimonial-list li p {
  color: #fff;
  font-size: 18px;
}

.testimonial-list li p { 
  width: 80%; 
  margin: 0 auto;
}

.testimonial-list .slick-dots li { 
  width: 20px; 
  margin-right: 15px;
}

.testimonial-list .slick-dots { bottom: -45px; }

.testimonial-list .slick-dots li button:before {
  color: #fff;
  font-size: 26px;
}

.testimonial-list .slick-prev, 
.testimonial-list .slick-next { top: 20%; }
/* style for testimonial ends here */